body {
  background-color: #2c3441;
  background-image: none;
}
#toolbarContainer,
.findbar,
.secondaryToolbar {
   background-color: #212831;
   background-image: none;
}
#toolbarSidebar {
  background-color: #212831;
  background-image: none;
}
.pdfViewer .page {
  border-image: none;
}

html[data-theme="dark-2"] body {
  background-color: #454545;
  background-image: none;
}
html[data-theme="dark-2"] #toolbarContainer,
html[data-theme="dark-2"] .findbar,
html[data-theme="dark-2"] .secondaryToolbar {
   background-color: #3b3b3b;
   background-image: none;
}
html[data-theme="dark-2"] #toolbarSidebar {
  background-color: #3b3b3b;
  background-image: none;
}

html[data-theme="light-1"] body {
  background-color: #bdbec2;
  background-image: none;
}
html[data-theme="light-1"] #toolbarContainer,
html[data-theme="light-1"] .findbar,
html[data-theme="light-1"] .secondaryToolbar {
   background-color: #454649;
   background-image: none;
}
html[data-theme="light-1"] #toolbarSidebar {
  background-color: #454649;
  background-image: none;
}

html[data-theme="light-2"] body {
  background-color: #bcb8b8;
  background-image: none;
}
html[data-theme="light-2"] #toolbarContainer,
html[data-theme="light-2"] .findbar,
html[data-theme="light-2"] .secondaryToolbar {
   background-color: #3b3b3b;
   background-image: none;
}
html[data-theme="light-2"] #toolbarSidebar {
  background-color: #3b3b3b;
  background-image: none;
}
