.toolbarButton.copyLink::before {
  -webkit-mask-image: url(/data/viewer/copy.svg);
  mask-image: url(/data/viewer/copy.svg);
}

.toolbarButton.customZoom::before {
  -webkit-mask-image: url(/data/viewer/zoom.svg);
  mask-image: url(/data/viewer/zoom.svg);
}

.toolbarButton.defaultViewer::before {
  -webkit-mask-image: url(/data/viewer/default.svg);
  mask-image: url(/data/viewer/default.svg);
}
.toolbarButton:disabled {
  pointer-events: none;
}

body {
  --editor-toolbar-base-offset: 165px;
}
@media all and (max-width: 750px){
  body {
    --editor-toolbar-base-offset: 42px;
  }
}

notification-view {
  --pos-top: 42px;
  --pos-right: 22px;
}
